@font-face {
    font-family: minecraft;
    /* src: url('../font/Minecraftia-Regular.ttf'); */
    src: url('../font/MinecraftRegular.ttf');
}

html {
    height: 100%;
}

.full-height {
    height: 100%;
}

body {
    background-color: #0b0420;
    color: #d0d0d0;
}

header {
    background-color: #464646;
    margin-bottom: 2rem;
}

header h1 {
    padding: 1rem 0;
}

.wrapper {
    padding: 0 1rem;
    height: calc(100% - 14rem);
}

.full-height > .CodeMirror {
    height: 100%;
}

input[type='checkbox'] {
    margin-right: 1rem;
}

#preview {
    background-color: #002240;
    overflow: auto;
    padding: 0.2rem;
}

#preview > h5 {
    font-style: italic;
    margin-bottom: 0rem;
}

pre.error {
    border-left-color: #d11717;
}

pre, code {
    background:#0b0420;
}

pre>h2 {
    padding: 0rem 1.5rem;
}

.minecraft-font {
    font-family: minecraft;
}

/* bukkit formats */

/* black */
.minecraft-color.mc-code-0 {
    color: #000000;
}

/* dark blue */
.minecraft-color.mc-code-1 {
    color: #0000aa;
}

/* dark green */
.minecraft-color.mc-code-2 {
    color: #00aa00;
}

/* dark aqua */
.minecraft-color.mc-code-3 {
    color: #00aaaa;
}

/* dark red */
.minecraft-color.mc-code-4 {
    color: #aa0000;
}

/* dark purple */
.minecraft-color.mc-code-5 {
    color: #aa00aa;
}

/* gold */
.minecraft-color.mc-code-6 {
    color: #ffaa00;
}

/* gray */
.minecraft-color.mc-code-7 {
    color: #aaaaaa;
}

/* dark gray */
.minecraft-color.mc-code-8 {
    color: #555555;
}

/* blue */
.minecraft-color.mc-code-9 {
    color: #5555ff;
}

/* green */
.minecraft-color.mc-code-a {
    color: #55ff55;
}

/* aqua */
.minecraft-color.mc-code-b {
    color: #55ffff;
}

/* red */
.minecraft-color.mc-code-c {
    color: #ff5555;
}

/* light purple */
.minecraft-color.mc-code-d {
    color: #ff55ff;
}

/* yellow */
.minecraft-color.mc-code-e {
    color: #ffff55;
}

/* white */
.minecraft-color.mc-code-f {
    color: #ffffff;
}

/* default/reset */
.minecraft-color, .mc-code-r {
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

/* bold */
.mc-code-l {
    font-weight: bold;
}

/* strikethrough */
.mc-code-m {
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
}

/* underline */
.mc-code-n {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

/* italic */
.mc-code-o {
    font-style: italic;
}